body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514e;
}
h1 {
    font-size: 5.625rem;
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    padding-bottom: 10px;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
p {
    line-height: 2;
}
hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.top-container{
    background-color: #e3fdfd;
    position: relative;
    padding-top: 100px;
}
.middle-container {
    margin: 100px 0px;
}
.bottom-container {
    background-color: #66bfbf;
    padding: 50px 0px 20px;
}
.bottom-cloud {
    position: absolute;
    left: 650px;
    bottom: 300px;
}
.top-cloud {
    position: absolute;
    right: 700px;
    top: 40px;
}
.profile-pic {
    width: 200px;
}
.computer-img {
    width: 20%;
    float: left;
    margin-right: 30px;
}
.skills{
    background-color: #66bfbf;
}
.skills-heading{
    color: #ffffff;
}
.camera-img {
    width: 20%;
    float: right;
    margin-left: 30px;
}
.title{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.25rem;
    font-weight: normal;
}
a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
a:hover{
    color: #eaf6f6;
}
.skill-row {
    width: 40%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.bio {
    width: 30%;
    margin: 0 auto;
}
.contact-message {
    width: 20%;
    margin: 40px auto 60px;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 0px;
    line-height: 0px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    width: 170px;
    font-size: 20px;
    font-weight: 100;
    padding: 30px;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    }
    
    .btn:hover {
    border: solid #337FED 0px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
    }
    .freepic{
        font-family: 'Montserrat', sans-serif;
        margin-top: 20px;
    }
    .copyright{
        font-family: 'Montserrat', sans-serif;
        color: #eaf6f6;
        font-size: 0.75rem;
        padding: 20px 0px;
    }
    .footer-link{
        margin: 10px 20px;
    }
